* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signInNavRight {
  visibility: hidden;
}

.signInHero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    url("./Assets/bg1.jpg");
  height: auto;
  padding: 100px 0 50px 0;
}
.signIn {
  max-width: 500px;
  width: 100%;
  /* background: linear-gradient(to bottom, rgba(0 , 0, 0, 1),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));  */
  background-color: rgba(10, 10, 10, 0.6);
  /* background-color: violet; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 65px 130px 65px;
  border-radius: 5px;
}
.signIn .signIn-heading {
  color: #fff;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 25px;
}
.signIn form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.signIn form input {
  padding: 0 45px 0 25px;
  font-size: 17px !important;
  -webkit-text-size-adjust: 17px !important
}
.signIn form input[data-autocompleted] {
  background-color: transparent !important;
}
.signIn form input:-webkit-autofill,
.signIn form input:-webkit-autofill:hover,
.signIn form input:-webkit-autofill:focus,
.signIn form input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-background-clip: text !important;
    -webkit-text-size-adjust:none !important;
    caret-color: #fff;
}

.signIn form p {
  color: red;
  margin: -5px 0;
  display: none;
  font-size: 14px;
}
.signIn form > * {
  margin: 15px 0;
  max-width: 100%;
  width: 100% !important;
}


.signIn form button {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  margin: 0;
}
.signIn form a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.signIn form a:hover {
  color: grey;
}
.signIn form .password-container {
  position: relative;
  margin-bottom: 5px;
}
.signIn form .password-container > input{
  margin: 0;
  width: 100%;
}
.signIn form .password-container > i {
  position: absolute;
  color: yellow;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 18px;
  color: #fff;
  cursor: pointer;
}

.signIn form #signin-password {
  position: relative !important;
}

.remember-me {
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.remember-me input {
  height: 17px;
  width: 17px;
  margin-right: 8px;
  appearance: none;
  background: transparent;
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 2px;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
}
.remember-me:hover input:checked {
  background: grey;
  border: 1px solid grey;
}
.remember-me:hover input {
  border: 1px solid #fff;
}
.remember-me input:checked {
  background: #fff;
  color: #000;
  border: 1px solid white;
}
.remember-me input:checked:after {
  content: "\2713";
  font-size: 11px;
  font-weight: 700;
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.new-to-netflix {
  margin-bottom: 15px;
}
.new-to-netflix span {
  color: grey;
  margin-right: 8px;
}
.new-to-netflix a {
  text-decoration: none;
  color: #fff;
}
.capcha {
  padding-right: 25px;
  font-size: 13px;
}
.capcha span {
  color: grey;
}
.capcha a {
  color: #0a61eb;
  text-decoration: none;
}
.signInFooter {
  margin-top: 0 !important;
}

@media only screen and (max-width: 600px) {
  .signInHero {
    background: #000;
    padding: 100px 0 30px 0px;
  }
  .signIn {
    padding: 0;
    background: #000;
    margin: 0 30px;
  }
  .signIn .signIn-heading {
    font-size: 28px;
  }
  .signInFooter {
    margin-top: 5px !important;
  }
}
